<mat-toolbar fxLayoutGap="15px" color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="link" routerLink="/">Logo</span>
  <span fxFlex="auto"></span>
  <div *ngIf="!(isAuthenticated$ | async)">
    <button mat-icon-button class="link nav-actions">
      <mat-icon>login</mat-icon>
      <span routerLink="login">Log in</span>
    </button>
    <button mat-icon-button class="link nav-actions">
      <mat-icon>app_registration</mat-icon>
      <span routerLink="register">Sign up</span>
    </button>
  </div>
  <div
    *ngIf="isAuthenticated$ | async"
    fxLayout="row"
    fxAlignLayout="center center"
    fxLayoutGap="15px"
  >
    <div class="search-box-container">
      <div fxLayout="row" fxAlignLayout="center center" class="search-box">
        <mat-icon class="search-icon">search</mat-icon>
        <input
          (keyup)="applyFilterSearch()"
          [(ngModel)]="search"
          type="text"
          placeholder="Search photos"
        />
      </div>
    </div>
    <button mat-icon-button class="link nav-actions">
      <mat-icon class="pr-2">insert_photo</mat-icon>
      <span routerLink="photos">Photos</span>
    </button>
    <button mat-icon-button class="link nav-actions">
      <mat-icon class="pr-2">account_circle</mat-icon>
      <span routerLink="account">My Account</span>
    </button>
    <button mat-icon-button class="ml-2 link nav-actions" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span></span>
    </button>
  </div>
</mat-toolbar>
