<mat-toolbar fxLayoutGap="15px" color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="link" routerLink="/">Logo</span>
  <span fxFlex="auto"></span>
  <div *ngIf="!(isAuthenticated$ | async)">
    <button mat-icon-button class="link nav-actions">
      <mat-icon>login</mat-icon>
      <span routerLink="login">Log in</span>
    </button>
    <button mat-icon-button class="link nav-actions">
      <mat-icon>app_registration</mat-icon>
      <span routerLink="register">Sign up</span>
    </button>
  </div>
  <div *ngIf="isAuthenticated$ | async">
    <button mat-icon-button class="link nav-actions">
      <mat-icon class="pr-2">account_circle</mat-icon>
      <span routerLink="account" class="pl-2">My Account</span>
    </button>
    <button mat-icon-button class="ml-2 link nav-actions" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
      <span></span>
    </button>
  </div>
</mat-toolbar>
