<mat-toolbar fxLayoutGap="15px" color="primary">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="link" routerLink="/">Logo</span>
  <span fxFlex="auto"></span>
  <button mat-icon-button class="nav-actions">
    <mat-icon>login</mat-icon>
    <span class="link" routerLink="signin">Log in</span>
  </button>
  <button mat-icon-button class="nav-actions">
    <mat-icon>logout</mat-icon>
    <span class="link" routerLink="signup">Sign up</span>
  </button>
</mat-toolbar>
