<div
  fxLayout="column"
  class="my-5 py-5 main-wrapper"
  fxLayoutAlign="center center"
>
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title mat-icon-button>
        <div class="login-title">
          <mat-icon color="primary" class="icon-32">account_circle</mat-icon>
          <span>Login</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="signinForm"
        fxLayout="column"
        fxLayoutGap="25px"
        fxLayoutAlign="center center"
      >
        <mat-form-field>
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            type="text"
            formControlName="email"
            placeholder="silga.mat@lundee.com"
          />
          <mat-icon color="primary" matSuffix>person_outline</mat-icon>
          <mat-hint>A valid email to authenticate you</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            placeholder="Password"
          />
          <button
            mat-icon-button
            color="primary"
            (click)="hide = !hide"
            matSuffix
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-hint>Password must be at least 4 characters</mat-hint>
        </mat-form-field>
        <div *ngIf="error$ | async; let error">
          <mat-error>{{ error }}</mat-error>
        </div>
        <button
          mat-raised-button
          class="btn-block bg-accent"
          (click)="trySignin()"
        >
          <span class="pr-2">Sign In</span>
          <mat-icon class="pl-2">send</mat-icon>
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
