<div fxLayout="column" class="my-5 py-5" fxLayoutAlign="center center">
  <mat-card *ngIf="user$ | async; let user" class="profile-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Welcome deer</mat-card-title>
      <mat-card-subtitle>Your profile</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="25px" fxLayoutAlign="center center">
        <mat-form-field appearance="fill">
          <input matInput type="text" disabled [placeholder]="user.name" />
          <mat-icon color="primary" matSuffix>person_outline</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input
            matInput
            disabled
            type="text"
            [placeholder]="user.email ? user.email : 'oups no email'"
          />
          <mat-icon color="primary" matSuffix>email</mat-icon>
        </mat-form-field>
        <button mat-raised-button class="btn-block bg-accent">
          <mat-icon>thumb_up_alt</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
